body{
    
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: black;
    left: 0;
    right: 0;
}

@media screen and (max-width: 450px) {
    .container{
        position: relative;
        background: black;
        width: 100%;
        height: auto;
    }
    .wrapper{
        position: relative;
        height: auto;
    }
    .wrapper header{
        position: sticky;
        display: flex;
        width: 100%;
        height: 70px;
    }
    .logo{
        border-radius: 10px;
        margin: 5px;
    }
    .wrapper header span{
        position: absolute;
        display: inline-block;
        top: 25px;
        left: 400px;
        width: 0;
        height: 0;
        
    }
    .navLine{
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 20px;
        height: 0;
        width: 0;
        display: none;
    }
    .btn{
        position: absolute;
        color: white;
        top: 5px;
        right: 20px;
        padding: 20px;
        font-size: 16px;
        border-radius: 75px;
        width: 0;
        height: 0;
        display: none;
    }
    .all{
        position: absolute;
        top: 20px;
        right: 5%;
        width: 40px;
        height: 30px;
        z-index: 5;
        background: black;
        cursor: pointer;
    }
    .hamburger{
        position: absolute;
        top: 20px;
        right: 5%;
        width: 40px;
        height: 30px;
        z-index: 5;
        background: black;
        cursor: pointer;
    }
    .hamburger span{
        background: green;
        max-width: 40px;
        display: block;
        margin: 5px;
        padding: 1px;
        cursor: pointer;
    }
    .btn1{
        position: relative;
        background: limegreen;
        color: white;
        padding: 12px;
        font-size: 15px;
        border: limegreen 1px solid;
        border-radius: 75px;
        margin-bottom: 10px;
        top: 30px;
        cursor: pointer;
    }
    .btn2{
        color: white;
        position: relative;
        background: limegreen;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 50px;
        margin: 20px 0;
        font-size: 16px;
        border: limegreen 1px solid;
        border-radius: 75px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .overlay{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: auto;
        background: rgb(36, 33, 33);
        border-radius: 5px;
        z-index: 0;
        width: 75%;
        height: 45%;
        opacity: 0;
        overflow: hidden;
    }
    .active{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: auto;
        background: rgb(36, 33, 33);
        border-radius: 5px;
        z-index: 5;
        width: 75%;
        height: 320px;
        opacity: 1;
        overflow: hidden;
    }
    .active a:hover{
        color: limegreen;
    }
    .slick{
        position: absolute;
        top: 20px;
        right: 5%;
        width: 40px;
        height: 30px;
        z-index: 5;
        background: black;
        cursor: pointer;
        overflow: hidden;
    }
    .slick span:first-child{
        background: green;
        max-width: 40px;
        display: block;
        margin: 5px;
        padding: 1px;
        cursor: pointer;
        transform: rotate(45deg);
        transform-origin: center left;
    }
    .slick span:last-child{
        background: green;
        max-width: 40px;
        display: block;
        margin: 5px;
        padding: 1px;
        cursor: pointer;
        transform: rotate(-45deg);
        transform-origin: center 6px;
    }
    .slick span:nth-child(2){
        opacity: 0;
    }
    .sideline{
        position: relative;
        top: 20px;
        text-decoration: none;
        color: white;
        padding: 10px;
    }
    .name{
        position: relative;
        top: 50px;
        z-index: 4;
    }
    .name h5, h1, h3, h2, h4, p{
        text-align: center;
    }
    .pics{
        position: relative;
        top: 70px;
        width: 270px;
        height: 350px;
        border-top: 5px limegreen solid;
        border-left: 5px limegreen solid;
        left: 50%;
        transform: translateX(-55%);
    }
    .pics img{
        position: relative;
        border-radius: 5px;
        border-top-left-radius: 0;
        width: 300px;
    }
    .willow{
        display: none;
        width: 0;
        height: 0;
    }
    .willow img{
        display: none;
        width: 0;
        height: 0;
    }
    .about{
        position: relative;
        margin: 10px 0;
    }
    .about h2{
        position: relative;
        top: 130px;
        text-align: center;
    }
    .writeup{
        position: relative;
        top: 130px;
        width: 300px;
        margin: auto;
    }
    .writeup p{
        text-align: center;
    }
    .social{
        position: relative;
        top: 150px;
        display: flex;
        justify-content: space-evenly;
    }
    .social svg{
        padding-bottom: 20px;
    }
    .carrier{
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;

        align-items: center;
        top: 150px;
    }
    .skill{
        position: relative;
        width: 340px;
        height: 340px;
        margin: 10px 0;
    }
    .technical{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid red;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .technical img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
        
        
    }
    .technical h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .technical p{
        text-align: justify;
        margin: 20px;
    }
    .technical:hover{
        background: limegreen;
    }
    
    .april{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid rgb(0, 255, 221);
        border-radius: 10px;
        box-sizing: border-box;
    }
    .april img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .april h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .april p{
        text-align: justify;
        margin: 20px;
    }
    .april:hover{
        background: limegreen;
    }

    .march{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid purple;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .march img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .march h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .march p{
        text-align: justify;
        margin: 20px;
    }
    .march:hover{
        background: limegreen;
    }

    .may{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid rgb(0, 109, 128);
        border-radius: 10px;
        box-sizing: border-box;
    }
    .may img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .may h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .may p{
        text-align: justify;
        margin: 20px;
    }
    .may:hover{
        background: limegreen;
    }

    .june{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid yellow;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .june img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .june h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .june p{
        text-align: justify;
        margin: 20px;
    }
    .june:hover{
        background: limegreen;
    }

    .july{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid blue;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .july img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .july h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .july p{
        text-align: justify;
        margin: 20px;
    }
    .july:hover{
        background: limegreen;
    }

    .watty{
        padding-top: 20px;
    }
    .main{
        position: relative;
        top: 200px;
        width: 340px;
        display: flex;
        flex-flow: column;
        margin: auto;
    }
    .work{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work h4{
        text-align: center;
        font-size: 20px;
    }
    .work p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work a:last-child{
        top: 90px;
    }
    .pinch{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .pinch img{
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 10px;
        z-index: 0;
    }
    .pinch h4{
        text-align: center;
        font-size: 20px;
    }
    .pinch p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .pinch a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .pinch a:last-child{
        top: 90px;
    }
    .work1{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work1 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work1 h4{
        text-align: center;
        font-size: 20px;
    }
    .work1 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work1 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work1 a:last-child{
        top: 90px;
    }
    .work2{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work2 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work2 h4{
        text-align: center;
        font-size: 20px;
    }
    .work2 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work2 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work2 a:last-child{
        top: 90px;
    }
    .work3{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work3 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work3 h4{
        text-align: center;
        font-size: 20px;
    }
    .work3 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work3 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work3 a:last-child{
        top: 90px;
    }
    .work4{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work4 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work4 h4{
        text-align: center;
        font-size: 20px;
    }
    .work4 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work4 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work4 a:last-child{
        top: 90px;
    }
    .work5{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work5 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work5 h4{
        text-align: center;
        font-size: 20px;
    }
    .work5 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work5 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work5 a:last-child{
        top: 90px;
    }
    .work6{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work6 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work6 h4{
        text-align: center;
        font-size: 20px;
    }
    .work6 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work6 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work6 a:last-child{
        top: 90px;
    }
    .viewMore{
        position: relative;
        color: white;
        top: 200px;
        text-align: center;
        text-decoration: none;
        border-radius: 75px;
        background: limegreen;
        padding: 10px 30px;
        left: 120px;
    }
    .contact{
        position: relative;
        top: 250px;
    }
    .icons{
        position: relative;
        top: 260px;
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .icons p{
        margin-left: 30px;
    }
    .icons1{
        position: relative;
        top: 260px;
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .icons1 p{
        margin-left: 30px;
    }
    .icons1 a{
        text-decoration: none;
        color: white;
    }
    .icons2{
        position: relative;
        top: 260px;
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .icons2 p{
        margin-left: 30px;
    }
    .icons2 a{
        text-decoration: none;
        color: white;
    }
    .location-pin{
        position: relative;
        width: 50px;
        height: 50px;
        background: limegreen;
        border-radius: 50px;
    }
    .location-pin img{
        width: 20px;
        height: 20px;
        margin: 15px;
    }
    .inputed{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 270px;
        width: 310px;
        height: 50px;
        margin: 10px 20px;
        padding: 20px;
        font-size: 15px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .layers{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 270px;
        width: 310px;
        height: 50px;
        margin: 10px 20px;
        padding: 20px;
        font-size: 15px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .layers1{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 270px;
        width: 310px;
        height: 50px;
        margin: 10px 20px;
        padding: 20px;
        font-size: 15px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .inputee{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 270px;
        width: 180px;
        height: 50px;
        text-align: center;
        margin: 10px 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 50px;
        border: 1px solid limegreen;
        color: white;
        background: limegreen;
    }
    .inpute{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 270px;
        width: 310px;
        margin: 10px 20px;
        padding: 20px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .ending{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
    }
    .endings{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer{
        position: relative;
        background: rgb(29, 26, 26);
        top: 350px;
        padding-top: 7px;
    }
    .flow{
        padding-bottom: 10px;
    }
}


@media screen and (min-width: 500px){
    .container{
        position: relative;
        background: black;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
    }
    .wrapper{
        position: relative;
        width: 1200px;
        height: auto;
        left: 0;
        right: 0;
    }
    .wrapper header{
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        background: black;
        margin: 0;
        padding: 5px 0;
        width: 100%;
        height: 70px;
        z-index: 10;
    }
    .logo{
        position: relative;
        display: inline-block;
        border-radius: 10px;
    }
    .wrapper header span{
        position: relative;
        display: block;
        right: -25%;

    }
    .navLine{
        position: relative;
        top: 20px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 10px 20px;
    }
    .navLine:first-child{
        color: limegreen;
    }
    .btn{
        position: relative;
        top: 12px;
        color: black;
        background: limegreen;
        height: 20px;
        border-radius: 75px;
        padding: 10px 25px;
        font-size: 16px;
    }

    .all{
        position: absolute;
        top: 20px;
        right: 5%;
        width: 40px;
        height: 30px;
        z-index: 5;
        background: black;
        cursor: pointer;
    }
    .hamburger{
        height: 0;
        width: 0;
        display: none;
    }
    .hamburger span{
        display: none;
        height: 0;
        width: 0;
    }
    .btn1{
        position: relative;
        background: limegreen;
        color: white;
        padding: 12px;
        font-size: 15px;
        border: limegreen 1px solid;
        border-radius: 75px;
        margin-bottom: 10px;
        top: 30px;
        cursor: pointer;
    }
    .btn2{
        color: white;
        position: relative;
        background: limegreen;
        padding: 10px 50px;
        margin: 20px 0;
        font-size: 16px;
        border: limegreen 1px solid;
        border-radius: 75px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .overlay{
        display: none;
    }
    .name{
        position: relative;
        top: 150px;
        padding-left: 20px;
    }
    .name p{
        width: 500px;
    }
    .pics{
        position: relative;
        display: inline-block;
        top: 50px;
        width: 370px;
        height: 490px;
        border-top: 5px limegreen solid;
        border-left: 5px limegreen solid;
    }
    .pics img{
        position: relative;
        display: inline-block;
        border-radius: 5px;
        border-top-left-radius: 0;
        width: 400px;
    }
    .willow{
        position: absolute;
        height: 400px;
        top: 150px;
        left: 600px;
    }
    .willow img{
        position: relative;
        border-radius: 5px;
    }
    .about{
        position: relative;
        background: #1f1e1e;
        height: 650px;
        top: 300px;
        left: -5px;
        padding-left: 20px;
    }
    .about h2{
        position: relative;
        top: -350px;
        left: 720px;
    }
    .writeup{
        position: absolute;
        top: 200px;
        left: 500px;
        width: 600px;
    }
    .writeup p{
        text-align: justify;
    }
    .social{
        position: relative;
        top: -100px;
        left: 650px;
        display: flex;
    }
    .social svg{
        padding-bottom: 20px;
        margin-left: 50px;
    }
    .carrier{
        position: relative;
        top: 350px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-column-gap: 10px;
        margin: auto;
    }
    .dream{
        grid-column: 1/4;
    }
    .dream h2{
        text-align: center;
    }
    .skill{
        position: relative;
        width: 340px;
        height: 340px;
        margin: 10px 0;
    }
    .technical{
        position: relative;
        width: 340px;
        height: 340px;
        grid-column: 1/3;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid red;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .technical img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
        
        
    }
    .technical h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .technical p{
        text-align: justify;
        margin: 20px;
    }
    .technical:hover{
        background: limegreen;
    }
    
    .april{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid rgb(0, 255, 221);
        border-radius: 10px;
        box-sizing: border-box;
    }
    .april img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .april h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .april p{
        text-align: justify;
        margin: 20px;
    }
    .april:hover{
        background: limegreen;
    }

    .march{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid purple;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .march img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .march h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .march p{
        text-align: justify;
        margin: 20px;
    }
    .march:hover{
        background: limegreen;
    }

    .may{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid rgb(0, 109, 128);
        border-radius: 10px;
        box-sizing: border-box;
    }
    .may img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .may h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .may p{
        text-align: justify;
        margin: 20px;
    }
    .may:hover{
        background: limegreen;
    }

    .june{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid yellow;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .june img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .june h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .june p{
        text-align: justify;
        margin: 20px;
    }
    .june:hover{
        background: limegreen;
    }

    .july{
        position: relative;
        width: 340px;
        height: 340px;
        background: rgb(22, 22, 22);
        border-bottom: 10px solid blue;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .july img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin: 20px;
    }
    .july h4{
        text-align: justify;
        font-size: 20px;
        margin: 20px;
    }
    .july p{
        text-align: justify;
        margin: 20px;
    }
    .july:hover{
        background: limegreen;
    }

    .watty{
        padding-top: 20px;
    }
    .main{
        position: relative;
        top: 400px;
        width: 340px;
        display: grid;
        grid-template-columns: repeat(3, 400px);
    }
    .work{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work h4{
        text-align: center;
        font-size: 20px;
    }
    .work p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work a:last-child{
        top: 90px;
    }
    .pinch{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .pinch img{
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 10px;
        z-index: 0;
    }
    .pinch h4{
        text-align: center;
        font-size: 20px;
    }
    .pinch p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .pinch a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .pinch a:last-child{
        top: 90px;
    }
    .work1{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work1 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work1 h4{
        text-align: center;
        font-size: 20px;
    }
    .work1 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work1 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work1 a:last-child{
        top: 90px;
    }
    .work2{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work2 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work2 h4{
        text-align: center;
        font-size: 20px;
    }
    .work2 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work2 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work2 a:last-child{
        top: 90px;
    }
    .work3{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work3 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work3 h4{
        text-align: center;
        font-size: 20px;
    }
    .work3 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work3 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work3 a:last-child{
        top: 90px;
    }
    .work4{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work4 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work4 h4{
        text-align: center;
        font-size: 20px;
    }
    .work4 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work4 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work4 a:last-child{
        top: 90px;
    }
    .work5{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work5 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work5 h4{
        text-align: center;
        font-size: 20px;
    }
    .work5 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work5 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work5 a:last-child{
        top: 90px;
    }
    .work6{
        position: relative;
        width: 340px;
        height: 360px;
        background: url(images/pla.png);
        border-radius: 10px;
        margin: 20px 0;
    }
    .work6 img{
        position: absolute;
        width: 340px;
        height: 360px;
        border-radius: 10px;
        z-index: 5;
    }
    .work6 h4{
        text-align: center;
        font-size: 20px;
    }
    .work6 p{
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .work6 a{
        position: relative;
        top: 50px;
        margin: 0 110px;
        text-decoration: none;
        color: white;
        background: linear-gradient(#810981, #1e1ee7);
        padding: 15px;
        border-radius: 50px;
    }
    .work6 a:last-child{
        top: 90px;
    }
    .viewMore{
        position: relative;
        color: white;
        top: 200px;
        left: 500px;
        text-align: center;
        text-decoration: none;
        border-radius: 75px;
        background: limegreen;
        padding: 10px 30px;
    }
    .contact{
        position: relative;
        width: 100%;
        top: 400px;
    }
    .bread{
        position: relative;
        top: 400px;
        left: 40%;

    }
    .icons{
        position: relative;
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .icons p{
        margin-left: 30px;
    }
    .icons1{
        position: relative;
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .icons1 p{
        margin-left: 30px;
    }
    .icons1 a{
        text-decoration: none;
        color: white;
    }
    .icons2{
        position: relative;
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .icons2 p{
        margin-left: 30px;
    }
    .icons2 a{
        text-decoration: none;
        color: white;
    }
    .location-pin{
        position: relative;
        width: 50px;
        height: 50px;
        background: limegreen;
        border-radius: 50px;
    }
    .location-pin img{
        width: 20px;
        height: 20px;
        margin: 15px;
    }
    .inputed{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 400px;
        width: 70%;
        height: 50px;
        margin: 10px 15%;
        padding: 20px;
        font-size: 15px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .inputee{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 330px;
        width: 180px;
        height: 50px;
        text-align: center;
        margin: 10px 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 50px;
        border: 1px solid limegreen;
        color: white;
        background: limegreen;
    }
    .inpute{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: 330px;
        width: 70%;
        margin: 10px 15%;
        padding: 20px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .layers{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        display: inline;
        top: 400px;
        width: 33%;
        margin: 10px 15%;
        padding: 20px;
        font-size: 15px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .layers1{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        display: inline;
        top: 320px;
        width: 33%;
        margin: 10px 0;
        margin-left: 50%;
        padding: 20px;
        font-size: 15px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        background: black;
    }
    .ending{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
    }
    .endings{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer{
        position: relative;
        width: 100%;
        top: 450px;
        padding-top: 7px;
    }
    .flow{
        padding-bottom: 10px;
    }
    .flow p{
        text-align: center;
    }

}
